.carousel{
  overflow:hidden;
  width: 800px;
  margin: 50px 0;
}
.carousel-inner{
  display: flex;
  transition: transform 0.3s;
}
.carousel-item{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  width:100%;
}
.testimonial{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  width:800px;
  padding: 0 20px;
}
.feedback{
  font-weight: 400;
font-size: 17px;
line-height: 28px;
color: #41444B;
margin: 15px 0;
}
.testimonial-user{
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #16213E;
  margin: 8px 0;
}
.testimonial-user-position{
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #00215B;
  
}
.indicators{
  margin: 15px 0;
}
.indicator{
 margin-right:10px;
 padding: 0 10px;
 cursor: pointer;
}
.quote{
  height: 50px;
  width: 50px;
  position: relative;
  background: #00215B;
  display: block;
}
.quote img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.active{
 transform: scale(1.5);
}