.footer{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-left{
 background: #D2153D;
 padding: 50px ;
 padding-left: 120px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.footer-right{
  background: #00215B;
  padding: 50px ;
}
.socials{
  list-style: none;
  display: flex;
}
.social{
  border-radius: 100%;
  height: 40px;
  width:40px;
  background: white;
  position: relative;
  cursor: pointer;
}
.social img{
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.social:not(:last-child)
{
  margin-right: 15px;
}
.footer-nav{
  list-style: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.footer-nav li{
  margin: 10px 0;
  cursor: pointer;
}